{% extends 'base.html.twig' %}

{% block title %}Головна сторінка{% endblock %}

{% block body %}
    {% set loc = app.request.get('_locale') %}
    <div class="copy-bottom white boxed"></div>
    <div class="lang-bottom white boxed">
        <div class="menu-lang">
            <a href="{{-
            path(app.request.get('_route'),
                app.request.get('_route_params')|merge({'_locale' : 'ua'}))
            -}}" {% if app.request.locale == 'ua' %} class="active" {% endif %}>UA</a>
            <a href="{{-
            path(app.request.get('_route'),
                app.request.get('_route_params')|merge({'_locale' : 'ru'}))
            -}}" {% if app.request.locale == 'ru' %} class="active" {% endif %}>RU</a>
            <a href="{{-
            path(app.request.get('_route'),
                app.request.get('_route_params')|merge({'_locale' : 'en'}))
            -}}" {% if app.request.locale == 'en' %} class="active" {% endif %}>ENG</a>
        </div>
    </div>
    <div class="pagepiling">
        <div class="pp-scrollable text-white section section-1">
            <div class="scroll-wrap">
                <div class="section-bg" style="background-image:url('{{ asset('images/bg/bg1.jpg') }}');"></div>
                <div class="scrollable-content">
                    <div class="vertical-centred">
                        <div class="boxed boxed-inner">
                            <div class="vertical-title hidden-xs hidden-sm"><span>{% trans %}Вступ{% endtrans %}</span></div>
                            <div class="boxed">
                                <div class="container">
                                    <div class="intro">
                                        <div class="row">
                                            <div class="col-md-8 col-lg-6">
                                                <p class="subtitle-top">{% trans %}Ласкаво просимо{% endtrans %}<br></p>
                                                <h1 class="display-2 text-white"><span
                                                            class="text-primary">{% trans %}ВАШ{% endtrans %}</span>{% trans %}ВИД РОСКОШИ{% endtrans %}
                                                </h1>
                                                <div class="hr-bottom"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pp-scrollable section section-2">
            <div class="scroll-wrap">
                <div class="scrollable-content">
                    <div class="vertical-centred">
                        <div class="boxed boxed-inner">
                            <div class="vertical-title text-dark hidden-xs hidden-sm"><span>{% trans %}Наші послуги{% endtrans %}</span></div>
                            <div class="boxed">
                                <div class="container">
                                    <div class="intro">
                                        <div class="row">
                                            <div class="col-md-5 col-lg-5">
                                                <p class="subtitle-top text-dark">{% trans %}Послуги{% endtrans %}</p>
                                                <h2 class="title-uppercase">{% trans %}Наша миссия{% endtrans %}<br> <span
                                                            class="text-primary">{% trans %}дизайн{% endtrans %}</span>{% trans %}лучшей мебели{% endtrans %}<br>{% trans %}для вас?{% endtrans %}
                                                </h2>
                                                <ul class="service-list">
                                                    {% set increment = 1 %}
                                                    {% for service in services|sortbyfield('onHomePagePosition') %}
                                                        {% if service.isVisible == true %}
                                                            {% if service.isOnHomePage == true %}
                                                                {% if service.serviceTranslations is not empty %}
                                                                    {% for trans in service.serviceTranslations %}
                                                                    {% if trans.language == loc and trans.name is not empty %}
                                                                        <li><a href="{{ path('service', {'_locale': app.request.locale, 'url': service.url}) }}">{{ trans.name }}</a></li>
                                                                    {% else %}
                                                                        <li><a href="{{ path('service', {'_locale': app.request.locale, 'url': service.url}) }}">{{ service.name }}</a></li>
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                {% else %}
                                                                    <li><a href="{{ path('service', {'_locale': app.request.locale, 'url': service.url}) }}">{{ service.name }}</a></li>
                                                                    {% endif %}
                                                                 {% set increment = increment + 1 %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col-md-6 col-lg-5 col-md-offset-1 col-lg-offset-2">
                                                <div class="dots-image-2">
                                                    <img alt="" class="img-responsive"
                                                         src="{{ asset('images/1-470x490.jpg') }}">
                                                    <div class="dots"></div>
                                                    <div class="experience-info">
                                                        <div class="number">{% trans %}24{% endtrans %}</div>
                                                        <div class="text">{% trans %}Року{% endtrans %}<br>{% trans %}досвіду{% endtrans %}<br>{% trans %}робіт{% endtrans %}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pp-scrollable text-white section section-3">
            <div class="scroll-wrap">
                <div class="bg-changer">
                    {% for product in products|sortbyfield('updatedAt') %}
                        {% if product.isVisible and product.isOnHomePage %}
                        {% if product.image is not null  %}
                        <div class="section-bg"
                             style="background-image:url('{{ vich_uploader_asset(product, 'imageFile') }}');"></div>
                    {% else %}
                        <div class="section-bg"
                             style="background-image:url('{{asset('images/bg/bg1.jpg')}}');"></div>
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="scrollable-content">
                    <div class="vertical-centred">
                        <div class="boxed boxed-inner">
                            <div class="vertical-title hidden-xs hidden-sm"><span>{% trans %}Наші роботи{% endtrans %}</span></div>
                            <div class="boxed">
                                <div class="container">
                                    <div class="intro">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h2 class="title-uppercase text-white">{% trans %}Останні роботи{% endtrans %}</h2>
                                                <div class="row-project-box row">
                                                    {% for product in products|sortbyfield('updatedAt')|reverse %}
                                                        {% if product.isVisible and product.isOnHomePage %}
                                                        <div class="col-project-box col-sm-6 col-md-4 col-lg-3">
                                                            <a href="{{ path('product', {'_locale': app.request.locale, 'url': product.url}) }}" class="project-box">
                                                                <div class="project-box-inner">
                                                                    <h5>{{ product.name }}</h5>
                                                                    <div class="project-category">{{ product.shortDescription }}</div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <a href="{{ path('products', {'_locale': app.request.locale}) }}" class="h5 link-arrow text-white">{% trans %}Дивитися усі роботи{% endtrans %}<i class="icon icon-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pp-scrollable section section-4">
            <div class="scroll-wrap">
                <div class="scrollable-content">
                    <div class="vertical-centred">
                        <div class="boxed boxed-inner">
                            <div class="vertical-title text-dark hidden-xs hidden-sm"><span>{% trans %}Наші партнери{% endtrans %}</span></div>
                            <div class="boxed">
                                <div class="container">
                                    <div class="intro overflow-hidden">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h2 class="title-uppercase">{% trans %}Наші партнери{% endtrans %}</h2>
                                                <div class="row-partners">
                                                    <div class="col-partner">
                                                        <div class="partner-inner"><img alt=""
                                                                                        src="{{ asset('images/partners/1.png') }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-partner">
                                                        <div class="partner-inner"><img alt=""
                                                                                        src="{{ asset('images/partners/2.png') }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-partner">
                                                        <div class="partner-inner"><img alt=""
                                                                                        src="{{ asset('images/partners/3.png') }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-partner">
                                                        <div class="partner-inner"><img alt=""
                                                                                        src="{{ asset('images/partners/4.png') }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-partner">
                                                        <div class="partner-inner"><img alt=""
                                                                                        src="{{ asset('images/partners/5.png') }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-partner">
                                                        <div class="partner-inner"><img alt=""
                                                                                        src="{{ asset('images/partners/4.png') }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-partner">
                                                        <div class="partner-inner"><img alt=""
                                                                                        src="{{ asset('images/partners/3.png') }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-partner">
                                                        <div class="partner-inner"><img alt=""
                                                                                        src="{{ asset('images/partners/2.png') }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-partner">
                                                        <div class="partner-inner"><img alt=""
                                                                                        src="{{ asset('images/partners/1.png') }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-partner">
                                                        <div class="partner-inner"><img alt=""
                                                                                        src="{{ asset('images/partners/5.png') }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pp-scrollable text-white section section-5">
            <div class="scroll-wrap">
                <div class="section-bg" style="background-image:url('{{ asset('images/bg/bg3.jpg') }}');"></div>
                <div class="scrollable-content">
                    <div class="vertical-centred">
                        <div class="boxed boxed-inner">
                            <div class="vertical-title hidden-xs hidden-sm"><span>{% trans %}Відгуки{% endtrans %}</span></div>
                            <div class="boxed">
                                <div class="container">
                                    <div class="intro">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-5">
                                                <span class="icon-quote ion-quote"></span>
                                                <h2 class="title-uppercase text-white">{% trans %}Відгуки клієнтів{% endtrans %}</h2>
                                            </div>
                                            <div class="col-md-5 col-lg-5  col-md-offset-1 col-lg-offset-2">
                                                <div class="review-carousel owl-carousel">
                                                    {% for comment in comments %}
                                                    {% if comment.language == loc and comment.isShow == true %}
                                                    <div class="review-carousel-item">
                                                        <div class="text" >
                                                            {{ comment.text|raw }}
                                                        </div>
                                                        <div class="review-author">
                                                            <div class="author-name">{{ comment.name }}</div>
                                                            {% if comment.product is not empty %}
                                                            <i>{{ comment.product }}</i>
                                                                {% endif %}
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pp-scrollable section section-6">
            <div class="scroll-wrap">
                <div class="scrollable-content">
                    <div class="vertical-centred">
                        <div class="boxed boxed-inner">
                            <div class="vertical-title text-dark hidden-xs hidden-sm"><span>{% trans %}Контакти{% endtrans %}</span></div>
                            <div class="boxed">
                                <div class="container">
                                    <div class="intro overflow-hidden">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h2 class="title-uppercase">{% trans %}Наша адреса{% endtrans %}</h2>
                                                <div id="map" class="map-2"></div>
                                                <div class="contact-info">
                                                    <div class="row-contact-info row">
                                                        <div class="col-contact-info col-md-6 col-lg-4">
                                                            <div class="row">
                                                                <h3 class="col-sm-3 col-md-4">{% trans %}Електронна адреса{% endtrans %}: </h3>
                                                                <div class="col-right col-sm-8 col-md-7 col-sm-offset-1 col-md-offset-1">
                                                                    {% if contacts.isEmailShow == true %}
                                                                    <div class="contact-info-row col-sm-6 col-md-12">
                                                                        <strong class="text-dark">{{ contacts.firstEmailTitle  }}</strong><br>
                                                                        <a href="mailto:{{ contacts.email }}" style="font-size: 0.8rem">{{ contacts.email }}</a>
                                                                    </div>
                                                                    {% endif %}
                                                                    {% if contacts.isSecondEmailShow == true %}
                                                                        <div class="contact-info-row col-sm-6 col-md-12">
                                                                            <strong class="text-dark">{{ contacts.secondEmailTitle }}</strong><br>
                                                                            <a href="mailto:{{ contacts.secondEmail }}" style="font-size: 0.8rem">{{ contacts.secondEmail }}</a>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-contact-info col-md-6 col-lg-4">
                                                            <div class="row">
                                                                <h3 class="col-sm-3 col-md-4">{% trans %}Зв'яжіться з нами{% endtrans %}</h3>
                                                                <div class="col-right col-sm-8 col-md-7 col-sm-offset-1 col-md-offset-1">
                                                                    {% if contacts.isPhoneShow == true %}
                                                                    <div class="contact-info-row col-sm-6 col-md-12">
                                                                        <a href="tel:{{ contacts.phoneNumber }}"> <strong class="text-dark">{{ contacts.phoneNumberTitle }}</strong><br>
                                                                        {{ contacts.phoneNumber|replace({'+38': ''}) }} </a>
                                                                    </div>
                                                                    {% endif %}
                                                                    {% if contacts.isSecondPhoneNumberShow == true %}
                                                                    <div class="contact-info-row col-sm-6 col-md-12 ">
                                                                        <a href="tel:{{ contacts.secondPhoneNumber }}"> <strong class="text-dark">{{ contacts.secondPhoneNumberTitle }}</strong><br>
                                                                            {{ contacts.secondPhoneNumber|replace({'+38': ''}) }} </a>
                                                                    </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% if contacts.adress is not empty %}
                                                        <div class="col-contact-info col-md-6 col-lg-4">
                                                            <div class="row">
                                                                <h3 class="col-sm-3 col-md-4">{% trans %}Контакти{% endtrans %}</h3>
                                                                <div class="col-right col-sm-8 col-md-7 col-sm-offset-1 col-md-offset-1">
                                                                    <div class="contact-info-row col-sm-6 col-md-12" style="font-family: 'Microsoft Sans Serif', Tahoma, Arial, Verdana, Sans-Serif">
                                                                        {{ contacts.adress|raw }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
