{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
    <div class="content" style="padding-top: 6rem">
        <div class="content-entry-image" style="background: url({{ vich_uploader_asset(about, 'imageFile') }}) 50%"></div>
        <div class="page-inner">
            <section class="section about-info">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="section-info">
                                <div class="title-hr"></div>
                                <div class="info-title">{% trans %}О нас{% endtrans %}</div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="text-display-1"><p><strong class="text-dark">{{ about.aboutTitle }}</strong><br>
                                    {{ about.aboutDescription|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section bg-dots">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="section-info">
                                <div class="title-hr"></div>
                                <div class="info-title">{% trans %}Основные направления{% endtrans %}</div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row-services row">
                                <div class="col-service col-sm-6 col-lg-4">
                                    <span class="text-dark icon-medium icon-apartment"></span>
                                    <h4>{{ about.firstOurDirectionTitle }}</h4>
                                    <p>{{ about.firstOurDirectionDescription }}</p>
                                </div>
                                <div class="col-service col-sm-6 col-lg-4">
                                    <span class="text-dark icon-medium icon-paint-roller"></span>
                                    <h4>{{ about.secondOurDirectionTitle }}</h4>
                                    <p>{{ about.secondOurDirectionDescription }}</p>
                                </div>
                                <div class="clearfix visible-sm visible-md"></div>
                                <div class="col-service col-sm-6 col-lg-4">
                                    <span class="text-dark icon-medium icon-pencil-ruler"></span>
                                    <h4>{{ about.thirdOurDirectionTitle }}</h4>
                                    <p>{{ about.thirdOurDirectionDescription }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="section pb-0">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="section-info">
                                    <div class="title-hr"></div>
                                    <div class="info-title">{% trans %}Наши партнеры{% endtrans %}</div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="row-partners">
                                    {% if about.partners is not empty %}
                                    {% for partner in about.partners %}
                                        {% if partner.imageLogo != null and partner.isVisible %}
                                            <div class="col-partner">
                                                <a href="{{ path('partner', {'_locale': lang , 'url': partner.url }) }}"><img alt="" src="{{ vich_uploader_asset(partner, 'imageLogoFile') }}"></a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>

    {{ include('footer.html.twig') }}
{% endblock %}
