{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
    <div class="content" style="padding-top: 6rem">
        <div id="map" class="map"></div>
        <div class="page-inner">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="section-info">
                                <div class="title-hr"></div>
                                <div class="info-title">{% trans %}Контакти{% endtrans %}</div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row-contact row">
                                <div class="col-contact col-lg-6">
                                    <h3 class="contact-title contact-top">{% trans %}Наша{% endtrans %} <span>{% trans %}адреса{% endtrans %}</span></h3>
                                    {% if contacts.isAddressShow ==true %}
                                    <p class="contact-address text-muted"><strong style="font-family: 'Microsoft Sans Serif', Tahoma, Arial, Verdana, Sans-Serif">{{ contacts.adress|raw }}</strong></p>
                                    {% endif %}
                                    {% if contacts.isEmailShow == true %}
                                    <p class="contact-row"><strong class="text-dark">Email:</strong> <a
                                                href="mailto:{{ contacts.email }}">{{ contacts.email }}</a>
                                    </p>
                                    {% endif %}
                                    {% if contacts.isViberShow %}
                                        <p class="contact-row"><strong class="text-dark">Viber:</strong> <a href="{{ contacts.viber }}">{{ contacts.phoneNumber }}
                                        </a></p>
                                            {% endif %}
                                    {% if contacts.isTelegrammShow %}
                                       <p class="contact-row"><strong class="text-dark">Telegram:</strong> <a href="{{ contacts.telegram }}">{{ contacts.phoneNumber }}
                                        </a></p>
                                            {% endif %}
                                </div>
                                <div class="col-contact col-lg-6">
                                    <p class="contact-top"><strong class="text-muted">{% trans %}Номер телефона:{% endtrans %}</strong></p>
                                    {% if contacts.isPhoneShow %}
                                    <p class="phone-lg text-dark">{{ contacts.phoneNumber }}</p>
                                    {% endif %}
                                    <p class="text-muted" style="font-family: 'Microsoft Sans Serif', Tahoma, Arial, Verdana, Sans-Serif"><strong class="text-dark">{% trans %}Години роботи:{% endtrans %} </strong><br>
                                        {% trans %}Понеділок{% endtrans %} - {% trans %}П'ятниця{% endtrans %} : {% trans %}з{% endtrans %} {{ contacts.workStart }} - {% trans %}до{% endtrans %} {{ contacts.workEnd }}</p>
                                    <div class="text-muted"><strong class="text-dark">{% trans %}Соціальні мережі{% endtrans %}</strong><br>
                                        <div class="contact-social social-list">
                                            {% if contacts is not empty %}
                                                {% if contacts.isViberShow==true %}
                                                    <a href="{{ contacts.viber }}" class="icon fab fa-viber"></a>
                                                {% endif %}
                                                {% if contacts.isTelegrammShow== true %}
                                                    <a href="{{ contacts.telegram }}" class="icon fab fa-telegram"></a>
                                                {% endif %}
                                                {% if contacts.isFacebookShow == true%}
                                                    <a href="{{ contacts.facebook }}" class="icon ion-social-facebook"></a>
                                                {% endif %}
                                                {% if contacts.isInstagramShow == true%}
                                                    <a href="{{ contacts.instagram }}" class="icon fab fa-instagram"></a>
                                                {% endif %}
                                                {% if contacts.isTwitterShow == true %}
                                                    <a href="{{ contacts.twitter }}" class="icon ion-social-twitter"></a>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-message section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="section-info">
                                <div class="title-hr"></div>
                                <div class="info-title">{% trans %}Зворотній зв'язок{% endtrans %}</div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            {{ form_start(form) }}
                                {% set translate = { 'ua' :{'name':'Ім\'я', 'email': 'Електронна пошта', 'phone': 'Номер телефону*', 'message':'Текст повідомлення*'},
                                                    'ru' :{'name': 'Имя*','email':'Електронная почта','phone':'Номер телефона*','message':'Текст сообщения*'},
                                                    'en' :{'name':'Name*','email':'Email','phone':'Phone Number*', 'Message':'Message*'}
                                } %}
                                {% set formlocal = translate['ua'] %}
                                {% if app.request.locale == 'ru' %}
                                    {% set formlocal = translate['ru'] %}
                                {% endif %}
                                {% if app.request.locale == 'en' %}
                                    {% set formlocal = translate['en'] %}
                                {% endif %}
                                <div class="row">
                                    <div class="form-group col-sm-6 col-lg-4">
                                        {{ form_widget(form.name, {'attr':{'class':'input-grey','placeholder': formlocal['name'] }, 'required':'true'}) }}
                                    </div>
                                    <div class="form-group col-sm-6 col-lg-4">
                                        {{ form_widget(form.phoneNumber, {'attr':{'class':'input-grey','placeholder': formlocal['phone'] }, 'required':'true'}) }}
                                    </div>
                                    <div class="form-group col-sm-12 col-lg-4">
                                        {{ form_widget(form.email, {'attr':{'class':'input-grey','placeholder': formlocal['email'] }, 'required':'false'}) }}
                                    </div>
                                    <div class="form-group col-sm-12">
                                        {{ form_widget(form.message, {'attr':{'class':'input-grey','placeholder': formlocal['message'] }, 'required':'true'}) }}
                                    </div>
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn-upper btn-yellow btn">{% trans %}Відправити{% endtrans %}</button>
                                    </div>
                                </div>
                                <div class="success-message"><i class="fa fa-check text-primary"></i> {% trans %}Дякуємо за Ваше повідомлення{% endtrans %}
                                </div>
                                <div class="error-message">{% trans %}Вибачте, але щось пішло не так{% endtrans %}</div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    {{ include('footer.html.twig') }}
{% endblock %}
