{% extends 'base.html.twig' %}

{% block title %}Hello serviceController!{% endblock %}

{% block body %}
    {% set loc = app.request.locale %}
    <div class="content" style="padding-top: 6rem">
        <div class="projects">
            <div class="container">
                <div class="grid-items js-isotope js-grid-items">
                    {% for service in services %}
                        {% if service.isVisible != 0 %}
                            {% if service.image is not null %}
                                <div class="grid-item inspiration js-isotope-item js-grid-item">
                                    <div class="news-item">
                                        <img alt="" src="{{ vich_uploader_asset(service, 'imageFile')|imagine_filter('news_thumbnail') }}">
                                        <div class="news-hover">
                                            <div class="hover-border">
                                                <div></div>
                                            </div>
                                            <div class="content">
                                {% if service.serviceTranslations is not empty %}
                                                    {% set t = 0 %}
                                    {% for trans in service.serviceTranslations %}
                                                        {% if t == 0 %}
                                                            {%if trans.language == loc  %}
                                                                <h3 class="news-title">{{ trans.name }}</h3>
                                                                {% set t = 1 %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if t == 0 %}
                                                        <h3 class="news-title">{{ service.name }}</h3>
                                                    {% endif %}
                                                {% else %}
                                                    <h3 class="news-title">{{ service.name }}</h3>
                                                {% endif %}
                                            </div>
                                            {% if app.request.get('_locale') in '/'~app.request.requestUri %}
                                                <a class="read-more" href="{{ path('service', {'_locale': app.request.locale, 'url': service.url}) }}">{% trans %}Детальніше{% endtrans %}</a>
                                            {% else %}
                                                <a class="read-more" href="{{ path('services_nolocale', { 'url': service.url}) }}">{% trans %}Детальніше{% endtrans %}</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    {% if services is empty %}
        <div class="container" style="height: 70%">
            <h5>{% trans %}Послуг не знайдено{% endtrans %}</h5>
        </div>
    {% endif %}

    {{ include('footer.html.twig') }}
{% endblock %}
