{% extends 'base.html.twig' %}

{% block title %}Hello serviceController!{% endblock %}

{% block body %}
    {% set loc = app.request.locale %}
    <div class="content" style="padding-top: 6rem">
        <div class="projects">
            <div class="container">
                <div class="grid-items js-isotope js-grid-items">
                    {% for service in services %}
                        {% if service.isVisible != 0 %}
                            {% if service.image is not null %}
                                <div class="grid-item inspiration js-isotope-item js-grid-item">
                                    <div class="news-item">
                                        <img alt="" src="{{ vich_uploader_asset(service, 'imageFile')|imagine_filter('news_thumbnail') }}">
                                        <div class="news-hover">
                                            <div class="hover-border">
                                                <div></div>
                                            </div>
                                            <div class="content">
                                                {% if service.serviceTranslations is not empty %}
                                                    {% for trans in service.serviceTranslations %}
                                                        {%if trans.language == loc %}
                                                            <h3 class="news-title">{{ trans.name }}</h3>
                                                        {% else %}
                                                            <h3 class="news-title">{{ service.name }}</h3>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <h3 class="news-title">{{ service.name }}</h3>
                                                {% endif %}
                                            </div>
                                            <a class="read-more" href="{{ path('service', {'_locale': app.request.locale, 'url': service.url}) }}">Детальніше</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    {{ include('footer.html.twig') }}
{% endblock %}
