{% extends 'base.html.twig' %}

{% block title %}Hello ServiceController!{% endblock %}

{% block body %}
    {% set loc = app.request.locale %}
    <div class="content" style="padding-top: 6rem">
        <div class="project-detail">
            <div class="slider-prev icon-chevron-left hidden-xs"></div>
            <div class="slider-next icon-chevron-right hidden-xs"></div>
            <div class="rev_slider_wrapper">
                <div id="rev_slider2" class="rev_slider tp-overflow-hidden fullscreenbanner">
                    <ul>
                            {% if service.images is not empty %}
                            {% set count = 0 %}
                                {% for image in service.images %}
                                {% if image.language == loc %}
                                <li data-transition="slideleft" data-masterspeed="1200" data-fsmasterspeed="1200">
                                    <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="" data-bgposition="center center"
                                        data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                                        <div class="tp-caption tp-shape tp-shapewrapper " data-x="['left']" data-hoffset="['0']" data-y="['top']" data-voffset="['50','50','40','40']" data-width="528" data-minwidth="528" data-whitespace="normal" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"opacity:0;z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":0,"ease":"Power3.easeInOut"},{"delay":"wait","speed":400,"to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                                            <div class="project-detail-info">
                                                <div class="project-detail-content">
                                                    <h3 class="project-detail-title">{{ image.title|raw }}</h3>
                                                        <p class="project-detail-text">{{ image.description }}</p>
                                                </div>
                                            </div>
                                        </div>
                                </li>
                                    {% set  count = count+1 %}
                                {% endif %}
                        {% endfor %}
                            {% if count == 0 %}
                                {% for image in service.images %}
                                    {% if image.language == 'ua' %}
                                        <li data-transition="slideleft" data-masterspeed="1200" data-fsmasterspeed="1200">
                                            <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="" data-bgposition="center center"
                                                 data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                                            <div class="tp-caption tp-shape tp-shapewrapper " data-x="['left']" data-hoffset="['0']" data-y="['top']" data-voffset="['50','50','40','40']" data-width="528" data-minwidth="528" data-whitespace="normal" data-type="shape" data-responsive_offset="on" data-frames='[{"from":"opacity:0;z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":0,"ease":"Power3.easeInOut"},{"delay":"wait","speed":400,"to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                                                <div class="project-detail-info">
                                                    <div class="project-detail-content">
                                                        <h3 class="project-detail-title">{{ image.title|raw }}</h3>
                                                        <p class="project-detail-text">{{ image.description }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <section class="section about-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="section-info">
                            <div class="title-hr"></div>
                            <div class="info-title">{% trans %}О нас{% endtrans %}</div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        {% if service.serviceTranslations is not empty %}
                            {% for trans in service.serviceTranslations %}
                                {% if trans.language == loc %}
                                    <div class="text-display-1"><p><strong class="text-dark">{{ trans.name }}</strong><br>
                                        {{ trans.description|raw }}
                                    </div>
                                {% else %}
                                <div class="text-display-1"><p><strong class="text-dark">{{ service.name }}</strong><br>
                                    {{ service.description|raw }}
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                                <div class="text-display-1"><p><strong class="text-dark">{{ trans.name }}</strong><br>
                                    {{ trans.description|raw }}
                                </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <section class="section-comments">
            <div class="container">
                <div class="row">
                    <div class=" fb-comment-embed col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2" data-href="https://www.facebook.com/zuck/posts/10102735452532991?comment_id=323575091931022"
                         data-width="800">
                    </div>
                </div>
            </div>
        </section>
    </div>
    {{ include('footer.html.twig') }}
{% endblock %}
