{% extends 'base.html.twig' %}

{% block title %}Hello PartnerController!{% endblock %}

{% block body %}
    <div style="padding-top: 6rem">
    <div class="post-thumbnail masked" style="background: url('{% if partner.image is not null %}{{ vich_uploader_asset(partner, 'imageFile') }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-6 col-md-offset-1 col-lg-offset-2">
                    {% if partner.partnersTranslations is not empty %}
                    {% for trans in partner.partnersTranslations %}
                        {% if trans.language == lang and trans.name is not empty %}
                            <h1 class="display-1">{{ trans.name }}</h1>
                        {% else %}
                            <h1 class="display-1">{{ partner.name }}</h1>
                        {% endif %}
                    {% endfor %}
                        {% else %}
                    <div class="title-info">{{ partner.name }}</div>
                    <h1 class="display-1">{{ partner.name }}</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="primary">
            <div class="container">
                <article class="post">
                    <div class="entry-content">
                        <div class="row">
                            <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                                {% if partner.partnersTranslations is not empty %}
                                    {% for trans in partner.partnersTranslations %}
                                        {% if trans.language == lang and trans.shortDescription is not empty %}
                                            <h3 class="entry-description">{{ trans.shortDescription }}</h3>
                                        {% else %}
                                            <h3 class="entry-description">{{ partner.shortDescription }}</h3>
                                        {% endif %}
                                        {% if trans.language == lang and trans.description is not empty %}
                                            {{ trans.description|raw }}
                                        {% else %}
                                            {{ partner.description|raw }}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <h3 class="entry-description">{{ partner.shortDescription }}</h3>
                                    {{ partner.description|raw }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    </div>
    {{ include('footer.html.twig') }}
{% endblock %}
