{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    {% set loc = app.request.locale %}
    <div class="content" style="padding-top: 6rem">
        {% if cat.categoriesTranslations is not empty %}
            {% set t = 0 %}
            {% for trans in cat.categoriesTranslations %}
                {% if t == 0 %}
                    {%if trans.language == loc  %}
                        <div class="container"><h1>{{ trans.name }}</h1>
                        {% set t = 1 %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if t == 0 %}
                <div class="container"><h1>{{ cat.name }}</h1>
            {% endif %}
        {% else %}
            <div class="container"><h1>{{ cat.name }}</h1>
        {% endif %}
                {% if app.request.get('_locale') in '/'~app.request.requestUri %}
                <div><p><a href="{{ path('categories', {'_locale': loc}) }}">{% trans %}Всі категорії{% endtrans %}</a></p></div>
                <div>
                {% else %}
                    <div><p><a href="{{ path('categories_nolocale') }}">{% trans %}Всі категорії{% endtrans %}</a></p></div>
                    <div>
                {% endif %}

        <div class="projects">
            <div class="container">
                <div class="grid-items js-isotope js-grid-items">
                    {% for category in categories %}
                    {% if category.isVisible != 0 and category.level == 1 %}
                    {% if category.image is not null %}
                    <div class="grid-item inspiration js-isotope-item js-grid-item">
                        <div class="news-item">
                            <img alt="" src="{{ vich_uploader_asset(category, 'imageFile')|imagine_filter('news_thumbnail') }}">
                            <div class="news-hover">
                                <div class="hover-border">
                                    <div></div>
                                </div>
                                <div class="content">
                                    {% if category.categoriesTranslations is not empty %}
                                        {% set t = 0 %}
                                        {% for trans in category.categoriesTranslations %}
                                            {% if t == 0 %}
                                                {%if trans.language == loc  %}
                                                    <h3 class="news-title" id="1">{{ trans.name }}</h3>
                                                    {% set t = 1 %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if t == 0 %}
                                            <h3 class="news-title" id="2">{{ category.name }}</h3>
                                        {% endif %}
                                    {% else %}
                                        <h3 class="news-title" id="3">{{ category.name }}</h3>
                                    {% endif %}
                                    {% if category.categoriesTranslations is not empty %}
                                        {% set t = 0 %}
                                        {% for trans in category.categoriesTranslations %}
                                            {% if t == 0 %}
                                                {%if trans.language == loc %}
                                                    <p class="news-description">{{ trans.shortDescription }}</p>
                                                    {% set t = 1 %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if t == 0 %}
                                            <p class="news-description">{{ category.shortDescription }}</p>
                                        {% endif %}
                                    {% else %}
                                        <p class="news-description">{{ category.shortDescription }}</p>
                                    {% endif %}
                                </div>
                                {% if app.request.get('_locale') in '/'~app.request.requestUri %}
                                    <a class="read-more" href="{{ path('category', {'_locale': app.request.locale, 'url': category.url}) }}">{% trans %}Детальніше{% endtrans %}</a>
                                {% else %}
                                    <a class="read-more" href="{{ path('category_nolocale', { 'url': category.url}) }}">{% trans %}Детальніше{% endtrans %}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    {% if categories is empty %}
        <div class="container" style="height: 70%">
            <h5>{% trans %}Категорій не знайдено{% endtrans %}</h5>
        </div>
    {% endif %}
{{ include('footer.html.twig') }}
{% endblock %}
