{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    {% set loc = app.request.get('_locale') %}
    <main class="page-header-2">
        <div class="container" style="padding-top: 4rem">
            <div class="row">
                <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                    <div class="title-info"></div>
                    {% if product.productsTranslations is not empty  %}
                    {% set t = 0 %}
                    {% for trans in product.productsTranslations %}
                    {% if t == 0 %}
                    {%if trans.language == loc  %}
                        <h1 class="display-1">{{ trans.name }}</h1>
                        {% set t = 1 %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% if t == 0 %}
                            <h1 class="display-1">{{ product.name }}</h1>
                            {% endif %}
                            {% else %}
                                <h1 class="display-1">{{ product.name }}</h1>
                                {% endif %}
                </div>
            </div>
        </div>
    </main>
    <div class="post-gallery">
        <div class="slider-prev icon-chevron-left hidden-xs"></div>
        <div class="slider-next icon-chevron-right hidden-xs"></div>
        <div class="rev_slider_wrapper">
            <div id="rev_slider3" class="rev_slider tp-overflow-hidden fullscreenbanner">
                <ul>
                    {% if product.images is not empty %}
                    {% for image in product.images %}
                    <li data-transition="slotzoom-horizontal" data-slotamount="7" data-masterspeed="1000"
                        data-fsmasterspeed="1000">

                        <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="" data-bgposition="center center"
                             data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="primary">
            <div class="container">
                <article class="post">
                    <div class="row">
                        <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">

                        </div>
                    </div>
                    <div class="entry-content">
                        <div class="row">
                            <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                                {% if product.productsTranslations is not empty  %}
                                {% set t = 0 %}
                                {% for trans in product.productsTranslations %}
                                    {% if t == 0 %}
                                        {%if trans.language == loc  %}
                                            <h3 class="entry-description">{{ trans.name }}</h3>
                                            {% set t = 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% if t == 0 %}
                                    <h3 class="entry-description">{{ product.name }}</h3>
                                {% endif %}
                                {% else %}
                                    <h3 class="entry-description">{{ product.name }}</h3>
                                    {% endif %}
                                {% if product.productsTranslations is not empty  %}
                                    {% set t = 0 %}
                                    {% for trans in product.productsTranslations %}
                                        {% if t == 0 %}
                                            {%if trans.language == loc  %}
                                                <p>{{ trans.description|raw }}</p>
                                                {% set t = 1 %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if t == 0 %}
                                        <p>{{ product.description|raw }}</p>
                                    {% endif %}
                                {% else %}
                                    <p>{{ product.description|raw }}</p>
                                {% endif %}
                            </div>
                        </div>


                    </div>
                    <div class="entry-footer">
                        <div class="row">
                            <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                                <div class="post-share">
                                    <span>{% trans %}Share{% endtrans %}:</span>
                                    <a href="" class="icon ion-social-facebook"></a>
                                    <a href="" class="icon ion-social-twitter"></a>
                                    <a href="" class="icon ion-social-pinterest"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <section class="related-posts">
                    <div class="row">
                        <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                            <h6 class="related-post-title">{% trans %}Новинки{% endtrans %}</h6>
                        </div>
                    </div>
                    <div class="news-carousel owl-carousel">
                        {% for prod in products %}
                        {% if prod.isVisible and prod.isTop %}
                        <div class="news-item">
                            {% if prod.imageTop is not null %}
                                    <img alt="" src="{{ vich_uploader_asset(prod, 'imageFileTop')|imagine_filter('news_thumbnail') }}">
                            {% endif %}
                            <div class="news-hover">
                                <div class="hover-border">
                                    <div></div>
                                </div>
                                <div class="content">
                                    {% if prod.productsTranslations is not empty  %}
                                        {% set t = 0 %}
                                        {% for trans in prod.productsTranslations  %}
                                            {% if t == 0 %}
                                                {%if trans.language == loc  %}
                                                    <h3 class="news-title">{{ trans.name }}</h3>
                                                    {% set t = 1 %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if t == 0 %}
                                            <h3 class="news-title">{{ prod.name }}</h3>
                                        {% endif %}
                                    {% else %}
                                        <h3 class="news-title">{{ prod.name }}</h3>
                                    {% endif %}
                                    {% if prod.productsTranslations is not empty  %}
                                        {% set t = 0 %}
                                        {% for trans in prod.productsTranslations  %}
                                            {% if t == 0 %}
                                                {%if trans.language == loc  %}
                                                    <p class="news-description">{{ trans.shortDescription }}</p>
                                                    {% set t = 1 %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if t == 0 %}
                                            <p class="news-description">{{ prod.shortDescription }}</p>
                                        {% endif %}
                                    {% else %}
                                        <p class="news-description">{{ prod.shortDescription }}</p>
                                    {% endif %}
                                </div>
                                <a class="read-more" href="{{ path('product', {'_locale': app.request.locale, 'url': prod.url}) }}">{% trans %}Детальніше{% endtrans %}</a>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>

    <section class="section-comments">
        <div class="container">
            <div class="row">
                <div class=" fb-comment-embed col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2" data-href="https://www.facebook.com/zuck/posts/10102735452532991?comment_id=323575091931022"
                     data-width="800">
                </div>
            </div>
        </div>
    </section>
    {{ include('footer.html.twig') }}
{% endblock %}