{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <main class="page-header-2">
        <div class="container" style="padding-top: 6rem">
            <div class="row">
                <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                    <div class="title-info"></div>
                    <h1 class="display-1">{{ product.name }}</h1>
                </div>
            </div>
        </div>
    </main>
    <div class="post-gallery">
        <div class="slider-prev icon-chevron-left hidden-xs"></div>
        <div class="slider-next icon-chevron-right hidden-xs"></div>
        <div class="rev_slider_wrapper">
            <div id="rev_slider3" class="rev_slider tp-overflow-hidden fullscreenbanner">
                <ul>
                    {% if product.images is not empty %}
                    {% for image in product.images %}
                    <li data-transition="slotzoom-horizontal" data-slotamount="7" data-masterspeed="1000"
                        data-fsmasterspeed="1000">

                        <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="" data-bgposition="center center"
                             data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="primary">
            <div class="container">
                <article class="post">
                    <div class="row">
                        <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">

                        </div>
                    </div>
                    <div class="entry-content">
                        <div class="row">
                            <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                                <h3 class="entry-description">{{ product.name }}</h3>
                                <p>{{ product.description }}</p>
                            </div>
                        </div>


                    </div>
                    <div class="entry-footer">
                        <div class="row">
                            <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                                <div class="tags-links">
                                    <span>Tags:</span>
                                    <a href="">Inspiration</a>,
                                    <a href="">Workspace</a>,
                                    <a href="">Minimal</a>,
                                    <a href="">Decoation</a>
                                </div>
                                <div class="post-share">
                                    <span>Share:</span>
                                    <a href="" class="icon ion-social-facebook"></a>
                                    <a href="" class="icon ion-social-twitter"></a>
                                    <a href="" class="icon ion-social-pinterest"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <section class="related-posts">
                    <div class="row">
                        <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                            <h6 class="related-post-title">Новинки</h6>
                        </div>
                    </div>
                    <div class="news-carousel owl-carousel">
                        <div class="news-item">
                            <img alt="" src="{{ asset('images/news/1-370x370.jpg') }}">
                            <div class="news-hover">
                                <div class="hover-border">
                                    <div></div>
                                </div>
                                <div class="content">
                                    <div class="time"></div>
                                    <h3 class="news-title">Уличная мебель</h3>
                                    <p class="news-description">Уличная мебель для отдыха на даче, в саду, кемпинг, летних площадок...</p>
                                </div>
                                <a class="read-more" href="post-gallery.html#">Подробнее</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <img alt="" src="{{ asset('images/news/2-370x370.jpg') }}">
                            <div class="news-hover">
                                <div class="hover-border">
                                    <div></div>
                                </div>
                                <div class="content">
                                    <div class="time"></div>
                                    <h3 class="news-title">Дизайнерская мебель</h3>
                                    <p class="news-description">Дизайнерская мебель в скандинавском стиле...</p>
                                </div>
                                <a class="read-more" href="post-gallery.html#">Подробнее</a>
                            </div>
                        </div>
                        <div class="news-item">
                            <img alt="" src="{{ asset('images/news/3-370x370.jpg') }}">
                            <div class="news-hover">
                                <div class="hover-border">
                                    <div></div>
                                </div>
                                <div class="content">
                                    <div class="time"></div>
                                    <h3 class="news-title">Лофт дизайн</h3>
                                    <p class="news-description">Мебель в стиле лофт из дерева и металла...</p>
                                </div>
                                <a class="read-more" href="post-gallery.html#">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <section class="section-comments">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
                        <div class="section-add-comment">
                            <div class="comments">
                                <div class="comments-area">
                                    <h6 class="comments-title">02 Comments</h6>
                                    <ol class="comment-list">
                                        <li class="comment">
                                            <article class="comment-body">
                                                <div class="avatar">
                                                    <img alt="" src="{{ asset('images/users/1-70x70.jpg') }}" height="70"
                                                         width="70">
                                                </div>
                                                <div class="comment-content">
                                                    <div class="comment-metadata">
                                                        <b class="fn"><a href="">Daniel Vandaft</a></b> -
                                                        <a class="comment-time"
                                                           href="http://test.paul-themes.com/wp/felix/felix-demo/2012/01/03/template-comments/#comment-6">
                                                            <time datetime="">
                                                                Jul 17,2015 at 15 hours ago
                                                            </time>
                                                        </a>
                                                    </div>
                                                    <p>Comment example here. Nulla risus lacus, vehicula id mi
                                                        vitae, auctor accumsan nulla. Sed a mi quam. Lorem In
                                                        euismod urna ac massa adipiscing interdum.</p>
                                                    <div class="reply"><a rel="nofollow" class="comment-reply-link"
                                                                          href='post-gallery.html#'>Reply</a></div>
                                                </div>
                                            </article>
                                        </li>
                                        <li class="comment">
                                            <article class="comment-body">
                                                <div class="avatar">
                                                    <img alt="" src="{{ asset('images/users/2-70x70.jpg') }}" height="70"
                                                         width="70">
                                                </div>
                                                <div class="comment-content">
                                                    <div class="comment-metadata">
                                                        <b class="fn"><a href="">Vanessa Elina</a></b> -
                                                        <a class="comment-time"
                                                           href="http://test.paul-themes.com/wp/felix/felix-demo/2012/01/03/template-comments/#comment-6">
                                                            <time datetime="">
                                                                Jul 17,2015 at 15 hours ago
                                                            </time>
                                                        </a>
                                                    </div>
                                                    <p>Comment example here. Nulla risus lacus, vehicula id mi
                                                        vitae, auctor accumsan nulla. Sed a mi quam. Lorem In
                                                        euismod urna ac massa adipiscing interdum.</p>
                                                    <div class="reply"><a rel="nofollow" class="comment-reply-link"
                                                                          href='post-gallery.html#'>Reply</a></div>
                                                </div>
                                            </article>
                                        </li>
                                    </ol>
                                </div>
                            </div>

                            </div>
                        </div>
                    </div>
                </div>

        </section>
    {{ include('footer.html.twig') }}
{% endblock %}